body{
  font-family: "Rubik";
  background-color: hsl(270, 20%, 96%);
}

.App{
  width: 18%;
  height: 60%;
  background-color: hsl(270, 20%, 96%);
  border: 10px solid #fff;
  border-radius: 40px;
  align-self: center;
}

.app-header{
  background: linear-gradient(to right, hsl(264, 100%, 61%) , hsl(293, 100%, 63%));
  border: 0 solid transparent;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  padding: 10px;
}

.intro{
  display: inline-block;
  width: 8rem;
  margin: 0 1rem;
  padding: 0.2rem;
}

.intro .name{
  font-size: .95rem;
  opacity: 100%;
  font-weight: 500;
}

.intro .available{
  opacity: 70%;
  font-size: .70rem;
}


.circular{
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  padding: 0;
  margin-bottom: -5px;
}

.sender{
  background-color: hsl(206, 6%, 79%);
  color: hsl(276, 55%, 52%);
}

.reciever{
  background-color: White;
  color: hsl(271, 15%, 43%);
}

.images img{
  display: inline;
  width: 50px;
  border-radius: 5px;
}

h1{
  color: hsl(271, 36%, 24%);
}

p{
  color: hsl(270, 7%, 64%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
