body{
  font-family: "Rubik";
  background-color: hsl(270, 20%, 96%);
}

.main{
  display: flex;
}

.left_background {
  width: 300px;
  height: 500px;
  border-radius: 300px;
  background-image: linear-gradient(45deg, #8739ff, #e844ff);
  position: absolute;
  top: -100px;
  left: -50px;
  z-index: -1;
}

.right_background{
  width: 300px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.13);
  position: absolute;
  bottom: -100px;
  right: -50px;
  border-radius: 300px;
  z-index: -1;
}

.App{
  width: 18%;
  height: 60%;
  background-color: hsl(270, 20%, 96%);
  border: 10px solid #fff;
  border-radius: 40px;
}


.app-header{
  background: linear-gradient(to right, hsl(264, 100%, 61%) , hsl(293, 100%, 63%));
  border: 0 solid transparent;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  padding: 40px 20px 20px 30px ;
}


.dots__container {
  display: flex;
  flex-direction: column;
  float: right;
}

.dots {
  height: 4px;
  width: 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2px;
}

.app-header span {
  color: white;
  font-size: 20px;
  margin-right: 7px;
  margin-bottom: 12px;
}

.intro{
  display: inline-block;
  width: 8rem;
  margin: 0 1rem;
  padding: 0.2rem;
}

.intro .name{
  font-size: .95rem;
  opacity: 100%;
  font-weight: 500;
}

.intro .available{
  opacity: 70%;
  font-size: .70rem;
}


.circular{
  border: 2px solid #fff;
  border-radius: 50%;
  width: 25px;
  padding: 0;
}

.app-body{
  padding: 10px;
}

.sender{
  background-color:hsl(270, 20%, 86%);
  color: hsl(276, 55%, 52%);
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
}

.reciever{
  background-color: White;
  color: hsl(271, 15%, 43%);
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  border-bottom-right-radius: 2px;
}

.images, .reciever{
  margin-left: 90px;
}

.images img{
  display: inline;
  width: 50px;
  border-radius: 5px;
}

.last{
  background-color: White;
  padding: 4px 4px 4px 15px;
  border: 0 solid transparent;
  border-radius: 40px;
}

.container{
  width: 500px;
  padding: 40px;
  flex: 75%;
}

.container p {
  font-size: 16px;
  line-height: 20px;
  word-spacing: 5px;
}

h1{
  color: hsl(271, 36%, 24%);
}

p{
  color: hsl(270, 7%, 64%);
  font-size: 11px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
